body{background:#444;}
#b{position:relative;height:500px;width:500px;background:#333;}
#b div{position:absolute;border:1px solid #444;border-right:none;border-bottom:none;}
.h{background:blue;}

.no {background:#aaa;}

.e0,.e1,.e2,.e4,.l0,.l1,.l2,.l3,.u0,.u1,.u2{position:absolute;top:0;left:0;background:url('sprite.png') 0 0 no-repeat;}
.e0,.e1,.e2,.e4,.l0,.l1,.l2,.l3{width:24px;height:18px;}
.u0,.u1,.u2{left:8px;top:11px;width:32px;height:26px;}
.e0{background-position-x:0;}
.e1{background-position-x:-28px;}
.e2{background-position-x:-55px;}
.e3{background-position-x:-84px;}
.l0{background-position-y:0;}
.l1{background-position-y:-22px;}
.l2{background-position-y:-44px;}
.l3{background-position-y:-66px;}
.u0{background-position:-2px -85px;}
.u1{background-position:-38px -85px;}
.u2{background-position:-74px -85px;}
