body{background:#444;}
#b{position:relative;height:650px;width:1050px;background:#333;}
.h{background:blue;}
#b div,.e0,.e1,.e2,.e4,.l0,.l1,.l2,.l3,.u0,.u1,.u2,.b0,.b1,.b2,#c5,#c10,#c20{position:absolute;top:0;left:0;background-image:url('sprite.png') !important;background-repeat:no-repeat;}
#b div{position:absolute;background:none 0 -124px;}
#b em{position:absolute;float:left;width:51px;height:51px;background:rgba(19,19,19,.75);z-index:1;}
.e0,.e1,.e2,.e3,.l0,.l1,.l2,.l3{z-index:2;width:24px;height:18px;-webkit-transition:-webkit-transform .25s;-moz-transition:-moz-transform .25s;}
.u0,.u1,.u2{left:8px;top:11px;width:32px;height:26px;-webkit-transition:-webkit-transform .25s;-moz-transition:-moz-transform .25s;}
.b0,.b1,.b2{width:8px;height:8px;z-index:5;}
.e0.l0{background:none 0 0;}
.e0.l1{background:none 0 -22px;}
.e0.l2{background:none 0 -44px;}
.e0.l3{background:none 0 -66px;}
.e1.l0{background:none -28px 0;}
.e1.l1{background:none -28px -22px;}
.e1.l2{background:none -28px -44px;}
.e1.l3{background:none -28px -66px;}
.e2.l0{background:none -55px 0;}
.e2.l1{background:none -55px -22px;}
.e2.l2{background:none -55px -44px;}
.e2.l3{background:none -55px -66px;}
.e3.l0{background:none -84px 0;}
.e3.l1{background:none -84px -22px;}
.e3.l2{background:none -84px -44px;}
.e3.l3{background:none -84px -66px;}
.u0{background:none -2px -85px;}
.u1{background:none -38px -85px;}
.u2{background:none -74px -85px;}
.b0{background:none -2px -114px;}
.b1{background:none -12px -114px;}
.b2{background:none -22px -114px;}
#l{padding:0 0 7px;position:absolute;top:10px;left:10px;background:#000;color:#919191;font-family:"Helvetica Neue","Helvetica","Arial",sans;font-size:13px;font-weight:bold;}
.lu{float:left;padding:15px 9px 13px;margin:0 20px 0 0;border:1px solid #000;border-width:0 1px;}
.la {padding:14px 0 0 0;}
.off{border-color:#000;}
.on{border-color:#00344d; background:-webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#111));}
.lu:last-child{margin:0;}
#l p{position:relative;top:0;left:0;display:block;margin:0;}
#l #c5{top:5px;left:10px;width:12px;height:14px;background:none -54px -115px;}
#l #c10{top:5px;left:8px;width:18px;height:14px;background:none -54px -130px;}
#l #c20{top:5px;left:5px;width:22px;height:14px;background:none -55px -145px;}
.su{width:160px;display:block;overflow:hidden;margin:0 0 5px 0;}
.su span:nth-child(1){float:left;width:60px;height:13px;margin-right:10px;text-align:right;}
.su span:nth-child(2){float:right;width:85px;height:13px;background-color:#292929;}
.su span p{width:60%;height:13px;background-color:#9ac715;}
#ml{clear:both;border:1px solid #00344d; border-width:1px 0 0 0; padding:6px;}
#ml span, #ml a {float:left; text-decoration:none;}
#ml b, #ml a {color:#f2930f;}
#mo {width:120px;}
#li {width:60px;}
#ki {width:70px;}
#lv {width:75px;}